<div class="container mt-4">
    <h3>Almacenes</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarAlmacenes']">¿Quieres agregar un Almacen?</a>
    <br />
    <br />
     <div>            
        <table class="table">
            <thead>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Ubicación</th>
                <th>Teléfono</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        
     </div>
 </div>