<app-navegacion></app-navegacion>
<div class="container mt-4">
    <h3>Almacenes</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarAlmacenes']">¿Quieres agregar un Almacen?</a>
    <br />
    <br />
     <div>            
        <table class="table">
            <thead>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Ubicación</th>
                <th>Teléfono</th>
            </thead>
            <tbody>
                <tr  *ngFor="let almacen of Almacenes;let indice=index">
                    <td>{{indice+1}}</td>
                    <td>{{almacen.nombre}}</td>
                    <td>{{almacen.descripcion}}</td>
                    <td>{{almacen.ubicacion}}</td>
                    <td>{{almacen.telefono}}</td>
                </tr>
            </tbody>
        </table>
        
     </div>
 </div>