<div class="container mt-4">
    <h3>Eliminar Empleado</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarEmpleadosAlma']">¿Quieres agregar un Empleado?</a>
    <br />
    <br />
    <div class="row">
        <div class="col-6">
            <form class="form-controler  border p-5">
                <div class="form-group">
                    <h5>Nombre</h5>
                    <input id="NameEmpleado" class="form-control" placeholder="Nombre" value="{{Nombre}}" #newNombre readonly required>
                </div>
                <div class="form-group">
                    <h5>Apellido</h5>
                    <input id="ApellidoEmpleado" class="form-control" #newApellido value="{{Apellido}}" placeholder="Apellido" readonly required>
                </div>
                <div class="form-group">
                    <h5>Fecha de Nacimiento</h5>
                    <input class="form-control" #newFechaNacimiento readonly  value="{{Fecha_Nac}}" placeholder="mm/dd/yyyy" required>
                </div>
                <div class="form-group">
                    <h5>Fecha de Ingreso</h5>
                    <input class="form-control" #newFechaIngreso required value="{{Fecha_Ing}}" placeholder="mm/dd/yyyy" readonly>
                </div>
                <div class="form-group">
                    <h5>Cedula</h5>
                    <input class="form-control" #newCedula required value="{{Cedula}}" readonly placeholder="000-0000000-0" >
                </div>
                <div class="form-group">
                    <h5>Teléfono</h5>
                    <input class="form-control"  value="{{Telefono}}" #newTelefono required readonly placeholder="000-000-0000">
                </div>
                <div class="form-group">
                    <h5>Puesto</h5>
                    <input id="CargoEmpleado" class="form-control" value="{{Puesto}}" #newPuesto readonly placeholder="Empacador" required>
                </div>
                <div class="form-group">
                    <h5>Sexo</h5>
                        <input class="form-control" id=""  name="Sexo"  value="{{Sexo}}" readonly >
                </div>
                <button  class="btn btn-primary" [routerLink]="['../ModifiEmpleadosAlma']">Cancelar</button>
                <button name="Editar" class="btn btn-danger" (click)="DeleteEmpleado()">Eliminar</button>
            </form>
        </div>
        <div class="col-6">
            <h5 class="text-primary">Selecciona el Empleado</h5>
            <form class="row">
                <select  name="select"  [(ngModel)] = "seleccionado"  class="col-9 form-control"  (click)="GetEmpleadoSelected()">
                    <option [value]="empleado.id" *ngFor="let empleado of Empleados">
                        {{empleado.nombre}}
                    </option>
                </select>
            </form>
        </div>
    </div>
</div>