<app-navegacion></app-navegacion>
<div class="container mt-4">
    <h3>Eliminar Sucursal</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarSucursales']">¿Quieres agregar una Sucursal?</a>
    <br />
    <br />
    <div class="row">
        <div class="col-6">
            <form class="form-controler border p-5">
                <div class="form-group">
                    <h5>Nombre</h5>
                    <input id="NameSucursal" class="form-control" placeholder="Nombre"  value="{{Nombre}}" #newNombre readonly>
                </div>
                <div class="form-group">
                    <h5>Ubicación</h5>
                    <input id="UbicacionSucursal" class="form-control" placeholder="R.D. La Romana, Meliza, Calle Primera #6" value="{{Ubicacion}}" #newHubicacion readonly>
                </div>
                <div class="form-group">
                    <h5>Teléfono</h5>
                    <input class="form-control" placeholder="000-000-0000" value="{{Telefono}}" #newTelefono readonly>
                </div>
                <button name="Editar" class="btn btn-primary" [routerLink]="['../ModifiSucursales']">Cancelar</button>
                <button name="Eliminar" type="submit" class="btn btn-danger" (click)="DeleteSucursal()" >Eliminar</button>
            </form>
        </div>
 
        <div class="col-6">
            <h5 class="text-primary">Selecciona la Sucursal</h5>
            <form class="row">
                <select  name="select"  [(ngModel)] = "seleccionado" class="col-9 form-control" (click)="GetSucursalSelected()">
                    <option   [value]="sucursal.id" *ngFor="let sucursal of Sucursales">
                        {{sucursal.nombre}}
                    </option>
                </select>
            </form>
        </div>
    </div>
</div>