<div class="container mt-4">
    <h3>Empleados</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarEmpleados']">¿Quieres agregar un Empleado?</a>
    <br />
    <br />
     <div>            
        <table class="table">
            <thead>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Fecha de Ingreso</th>
                <th>Cedula</th>
                <th>Teléfono</th>
                <th>Puesto</th>
                <th>Sexo</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>
     </div>
 </div>