<app-navegacion-alma></app-navegacion-alma>
<div class="container">
    <div class="mt-5">
        <h1>Productos</h1>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <div class="bg-UserAlma div-pp p-5">
                <h3>Agregar un Producto</h3>
                <p class="p-pp-2"></p>
                <button class="btn btn-PP" [routerLink]="['../AgregarProductosAlma']"><a>Agregar</a></button>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-UserAlma div-pp p-5">
                <h3>Editar/Eliminar un Producto</h3>
                <p class="p-pp-2"></p>
                <button class="btn btn-PP" [routerLink]="['../ModifiProductosAlma']"><a>Modificar</a></button>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-UserAlma div-pp p-5">
                <h3>Ver todos tus Productos</h3>
                <p class="p-pp-2"></p>
                <button class="btn btn-PP" [routerLink]="['../VerProductosAlma']"><a>Ver</a></button>
            </div>
        </div>
    </div>
</div>