<nav class="navbar navbar-dark bg-danger">
    <div class="container   ">
        <div class="row">
            <div class="col-5">
                <a href="/" class=" navbar-brand" [routerLink]="['home']">Facturacion Web</a>
            </div>
            <div class="col-3">
                <a href="/" class=" navbar-brand"  [routerLink]="['']">Productos</a>
            </div>
            <div class="col-3">
                <a href="/" class=" navbar-brand"  [routerLink]="['']">Empleados</a>
            </div>
            <div class="col-1">
                <a href="/" class=" navbar-brand" [routerLink]="['']">Facturar</a>
            </div>
        </div>
    </div>
</nav>
