<nav class="navbar navbar-dark bg-dark">
    <div class="container   ">
        <div class="row">
            <div class="col-5">
                <a href="/" class=" navbar-brand" [routerLink]="['home']">Facturación Web</a>
            </div>
            <div class="col-3">
                <button class="btn " (click)="HomeProducto()"><a class=" navbar-brand">Productos</a></button>
            </div>
            <div class="col-3">
                <button class="btn " (click)="HomeEmpleado()"><a class=" navbar-brand">Empleados</a></button>
            </div>
            <div class="col-1">
                <button class="btn " (click)="HomeFacturar()"><a class=" navbar-brand">Facturar</a></button>
            </div>
        </div>
    </div>
</nav>
 