<app-navegacion-alma></app-navegacion-alma>
<div class="container mt-4">
    <h3>Productos</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarProductosAlma']">¿Quieres agregar un Producto?</a>
    <br />
    <br />
     <div>            
        <table class="table">
            <thead>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Fecha de Caducidad</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let producto of Productos;let indice=index">
                    <td>{{indice+1}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.fecha_caducidad}}</td>
                    <td>{{producto.precioUnitario}}</td>
                    <td>{{producto.precioTotal}}</td>
                </tr>
            </tbody>
        </table>
     </div>
 </div>