<div class="container">
    <div class="mt-5">
        <h3>Modificar Usuario</h3>
    </div>
    <div class="row mt-5">
        <div class="col-6 ">
            <div class="bg-primary div-pp p-5">
                <h3>Editar Usuario</h3>
                <p class="p-pp">Ven y edita los Usuario!</p>
                <button class="btn btn-PP" [routerLink]="['../EditUsuarios']">Editar</button>
            </div>
        </div>
        <div class="col-6 ">
            <div class="bg-primary div-pp p-5">
                <h3>Eliminar Usuario</h3>
                <p class="p-pp">Ya vas a Eliminar un Usuario?</p>
                <button class="btn btn-PP" [routerLink]="['../EliUsuarios']">Eliminar</button>
            </div>
        </div>
    </div>
</div>