<app-navegacion></app-navegacion>
<div class="container mt-4">
    <h3>Editar Usuario</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarUsuarios']">¿Quieres agregar un Usuario?</a>
    <br />
    <br />
    <div class="row">
        <div class="col-6">
            <form class="form-controler  border p-5" (submit)="UpdateUser(newNombre,newUser,newPassword,newArea, newNombreArea)">
                <div class="form-group">
                    <h5>Nombre</h5>
                    <input class="form-control" placeholder="Nombre"  #newNombre value="{{Nombre}}" required>
                </div>
                <div class="form-group">
                    <h5>User</h5>
                    <input class="form-control" placeholder="User"  #newUser value="{{User}}" required>
                </div>
                <div class="form-group">
                    <h5>Contraseña</h5>
                    <input class="form-control" placeholder="Contraseña"  #newPassword value="{{Password}}" required>
                </div>
                <div class="form-group">
                    <h5>Area</h5>
                    <select class="form-control" #newArea  required>
                        <option>{{Area}}</option>
                        <option>Sucursal</option>
                        <option>Almacen</option>
                    </select>
                </div>
                <div class="form-group">
                    <h5>Nombre del area</h5>
                    <select class="form-control" #newNombreArea  required>
                        <option>{{NombreArea}}</option>
                        <option>Sucursal</option>
                        <option>Almacen</option>
                    </select>
                </div>
                <button  class="btn btn-primary" [routerLink]="['../ModifiUsuarios']">Cancelar</button>
                <button name="Editar" class="btn btn-danger" >Editar</button>
            </form>
        </div>

        <div class="col-6">
            <h5 class="text-primary">Selecciona el Usuario</h5>
            
            <form class="row">
                <select  name="select" class="col-9 form-control"  [(ngModel)] = "seleccionado" (click)="GetUserSelected()">
                    <option [value]="usuario.id" *ngFor="let usuario of Usuarios">
                        {{usuario.user}}
                    </option>
                </select>   
            </form>
        </div>
    </div>
</div>