<div class="container mt-4">
    <h3>Usuarios</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarUsuarios']">¿Quieres agregar un Usuario?</a>
    <br />
    <br />
     <div>            
        <table class="table">
            <thead>
                <th>#</th>
                <th>Nombre</th>
                <th>User</th>
                <th>Contraseña</th>
                <th>Area</th>
                <th>Nombre del Area</th>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of Usuarios">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.user}}</td>
                    <td>{{usuario.password}}</td>
                    <td>{{usuario.area}}</td>
                    <td>{{usuario.nombredelArea}}</td>
                </tr>
            </tbody>
        </table>
        
     </div>
 </div>