<div class="container mt-4">
    <h3>Editar Producto</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarProductosAlma']">¿Quieres agregar un Producto?</a>
    <br />
    <br />
    <div class="row">
        <div class="col-6">
            <form class="form-controler  border p-5">
                <div class="form-group">
                    <h5>Nombre</h5>
                    <input id="NameSucursal" class="form-control" placeholder="Nombre" value="{{Nombre}}" #newNombre required>
                </div>
                <div class="form-group">
                    <h5>Descripción</h5>
                    <textarea class="form-control" rows="3" #newDescripcion required value="{{Descricipcion}}" placeholder="Descripción..."></textarea>
                </div>
                <div class="form-group">
                    <h5>Cantidad</h5>
                    <input class="form-control" #newCantidad value="{{Cantidad}}" (keyup)="CantidadTotal(newCantidad, newPrecioUnitario)" required min="1" placeholder="0" type="number">
                </div>
                <div class="form-group">
                    <h5>Fecha de Caducidad</h5>
                    <input class="form-control" #newFechaCaducidad value="{{FechaCaducidad}}" required id="FechaCaducidad" type="date">
                </div>
                <div class="form-group">
                    <h5>Precio Unitario</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input type="number" min="1" class="form-control" value="{{PrecioUnitario}}" (keyup)="CantidadTotal(newCantidad, newPrecioUnitario)" #newPrecioUnitario placeholder="0" required>
                      </div>
                </div>
                <div class="form-group">
                    <h5>Precio Total</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input type="number" min="1" readonly value="{{PrecioTotal}}" #newPrecioTotal class="form-control" placeholder="0" >
                      </div>
                </div>
                <button  class="btn btn-primary" [routerLink]="['../ModifiProductosAlma']">Cancelar</button>
                <button name="Editar" class="btn btn-danger" (click)="UpdateProducto(newNombre,newDescripcion,newCantidad,newFechaCaducidad, newPrecioUnitario, newPrecioTotal)">Editar</button>
            </form>
        </div>
        <div class="col-6">
            <h5 class="text-primary">Selecciona el Producto</h5>
            <form class="row">
                <select  name="select" [(ngModel)] = "seleccionado" class="col-9 form-control" (click)="GetProductosSelected()">
                    <option [value]="producto.id" *ngFor="let producto of Productos">
                        {{producto.nombre}}
                    </option>
                </select>
            </form>
        </div>
    </div>
</div>