<nav class="navbar navbar-dark bg-primary">
    <div class="container   ">
        <div class="row">
            <div class="col-5">
                <a href="/" class=" navbar-brand" [routerLink]="['home']">Facturacion Web</a>
            </div>
            <div class="col-3">
                
                <button class="btn " (click)="HomeAlmacenes()"><a class=" navbar-brand">Almacenes</a></button>
            </div>
            <div class="col-3">
                <button class="btn " (click)="HomeSucursal()"><a class=" navbar-brand">Sucursales</a></button>
            </div>
            <div class="col-1">
                <button class="btn " (click)="HomeUsuario()"><a class=" navbar-brand">Usuarios</a></button>
            </div>

        </div>
    </div>
</nav>
