<nav class="navbar navbar-dark bg-primary">
    <div class="container   ">
        <div class="row">
            <div class="col-4">
                <a href="/" class=" navbar-brand" [routerLink]="['home']">Facturacion Web</a>
            </div>
            <div class="col-2">
                <a href="/" class=" navbar-brand" [routerLink]="['HomeUsuarios']">Usuarios</a>
            </div>
            <div class="col-2">
                <a href="/" class=" navbar-brand"  [routerLink]="['productos']">Empleados</a>
            </div>
            <div class="col-2">
                <a href="/" class=" navbar-brand"  [routerLink]="['HomeSucursales']">Sucursales</a>
            </div>
            <div class="col-2">
                <a href="/" class=" navbar-brand"  [routerLink]="['HomeAlmacenes']">Almacenes</a>
            </div>
        </div>
    </div>
</nav>
