<app-navegacion></app-navegacion>

<div class="container">
    <div class="mt-5">
        <h1>Sucursales</h1>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <div class="bg-primary div-pp p-5">
                <h3>Agregar una Sucursal</h3>
                <p class="p-pp"></p>
                <button class="btn btn-PP" [routerLink]="['../AgregarSucursales']"><a>Agregar</a></button>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-primary div-pp p-5">
                <h3>Editar/Eliminar una Sucursal</h3>
                <p class="p-pp"></p>
                <button class="btn btn-PP" [routerLink]="['../ModifiSucursales']"><a>Modificar</a></button>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-primary div-pp p-5">
                <h3>Ver todas tus Sucursales</h3>
                <p class="p-pp"></p>
                <button class="btn btn-PP" [routerLink]="['../VerSucursales']"><a>Ver</a></button>
            </div>
        </div>
    </div>
</div>