<div class="container">
    <div class="mt-5">
        <h1>Empleados</h1>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <div class="bg-UserSucu div-pp p-5">
                <h3>Agregar un Empleado</h3>
                <p class="p-pp"></p>
                <button class="btn btn-PP" [routerLink]="['../AgregarEmpleadosAlma']"><a>Agregar</a></button>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-UserSucu div-pp p-5">
                <h3>Editar/Eliminar un Empleado</h3>
                <p class="p-pp"></p>
                <button class="btn btn-PP" [routerLink]="['../ModifiEmpleadosAlma']"><a>Modificar</a></button>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-UserSucu div-pp p-5">
                <h3>Ver todos tus Empleados</h3>
                <p class="p-pp"></p>
                <button class="btn btn-PP" [routerLink]="['../VerEmpleadosAlma']"><a>Ver</a></button>
            </div>
        </div>
    </div>
</div>