<app-navegacion></app-navegacion>


<div class="container">
    <div class="mt-5">
        <h1>Almacenes</h1>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <div class="bg-primary div-pp p-5">
                <h3>Agregar un Almacen</h3>
                <p class="p-pp"></p>
                <button class="btn btn-PP" [routerLink]="['../AgregarAlmacenes']"><a>Agregar</a></button>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-primary div-pp p-5">
                <h3>Editar/Eliminar un Almacen</h3>
                <p class="p-pp"></p>
                <button class="btn btn-PP" [routerLink]="['../ModifiAlmacenes']"><a>Modificar</a></button>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-primary div-pp p-5">
                <h3>Ver todos tus Almacenes</h3>
                <p class="p-pp"></p>
                <button class="btn btn-PP" [routerLink]="['../VerAlmacenes']"><a>Ver</a></button>
            </div>
        </div>
    </div>
</div>