<app-navegacion-alma></app-navegacion-alma>
<div class="container">
    <div class="mt-5">
        <h1>Modificar Productos</h1>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <div class="bg-UserAlma div-pp p-5">
                <h3>Editar</h3>
                <p class="p-pp-2">Ven y edita tus Productos!</p>
                <button class="btn btn-PP" [routerLink]="['../EditProductosAlma']"><a>Agregar</a></button>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-UserAlma div-pp p-5">
                <h3>Eliminar</h3>
                <p class="p-pp-2">Ya vas a Eliminar un Producto?</p>
                <button class="btn btn-PP" [routerLink]="['../EliProductosAlma']"><a>Modificar</a></button>
            </div>
        </div>
    </div>
</div>