<app-navegacion></app-navegacion>
<div class="container mt-4">
    <h3>Editar Sucursal</h3>
    <a class="text-primary alert-link" [routerLink]="['../AgregarSucursales']">¿Quieres agregar una Sucursal?</a>
    <br />
    <br />
    <div class="row">
        <div class="col-6">
            <form class="form-controler  border p-5">
                <div class="form-group">
                    <h5>Nombre</h5>
                    <input id="NameSucursal" class="form-control" placeholder="Nombre" value="{{Nombre}}" #newNombre required>
                </div>
                <div class="form-group">
                    <h5>Ubicación</h5>
                    <input id="UbicacionSucursal" class="form-control" placeholder="R.D. La Romana, Meliza, Calle Primera #6" value="{{Ubicacion}}" #newUbicacion required>
                </div>
                <div class="form-group">
                    <h5>Teléfono</h5>
                    <input class="form-control" value="{{Telefono}}" #newTelefono required maxlength="12" id="phone" placeholder="000-000-0000" pattern="[0-9]{3}[ -][0-9]{3}[ -][0-9]{4}" title="Formato: 000-000-0000">
                </div>
                <button  class="btn btn-primary" [routerLink]="['../ModifiSucursales']">Cancelar</button>
                <button name="Editar" class="btn btn-danger" (click)="UpdateSucursal(newNombre,newUbicacion,newTelefono)">Editar</button>
            </form>
        </div>
        <div class="col-6">
            <h5 class="text-primary">Selecciona la Sucursal</h5>
            <form class="row">
                <select  name="select"   [(ngModel)] = "seleccionado" class="col-9 form-control" (click)="GetSucursalSelected()">
                    <option [value]="sucursal.id" *ngFor="let sucursal of Sucursales">
                        {{sucursal.nombre}}
                    </option>
                </select>
            </form>
        </div>
    </div>
</div>